<!-- src/main/resources/templates/fragments/lang-switch.html -->
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="langSwitch(basePath, redirect)">
    <div th:with="
        path=${basePath != null ? basePath : '/login'},
        to=${redirect != null and !#strings.isEmpty(redirect) ? redirect : '/'}">
        <a th:href="@{${path}(lang='zh', redirect=${to})}">ZH</a>
        <a th:href="@{${path}(lang='en', redirect=${to})}">EN</a>
        <a th:href="@{${path}(lang='ja', redirect=${to})}">日本語</a>

    </div>
</div>
</body>
</html>
