<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>addJob</title>

</head>
<body>
<!-- login.html 中（大概率第 9 行） -->
<div th:replace="fragments/lang-switch :: langSwitch(${basePath}, ${redirect})"></div>


<h2>addJob</h2>

<form th:action="@{/jobs/add}" method="post">
    <!-- ✅ 必须：CSRF 隐藏字段 -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <label>company:</label>
    <input type="text" name="company" /><br/>

    <label>position:</label>
    <input type="text" name="position" /><br/>

    <label>status:</label>
    <input type="text" name="status" /><br/>

    <label>appliedDate</label>
    <input type="date" name="appliedDate" /><br/>

    <button type="submit">submit</button>
</form>

<a href="/jobs">return jobs</a>
<script src="/js/http.js" defer></script>
</body>
</html>
