<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{tenant.create.title}">Create Tenant</title>
</head>

<body>
<div th:replace="~{fragments/lang-switch :: langSwitch}"></div>

<h2 th:text="#{tenant.create.heading}">Create Tenant</h2>

<form th:action="@{/system/tenants/create}" th:object="${form}" method="post">
    <label th:text="#{tenant.name}">Tenant Name:</label><br>
    <input type="text" th:field="*{name}" th:placeholder="#{tenant.name.placeholder}" required>
    <br><br>

    <button type="submit" th:text="#{form.create}">Create</button>
</form>

<br>

<a th:href="@{/system/tenants}" th:text="#{link.backToTenantList}">
    Back to Tenant List
</a>

</body>
</html>
